*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: $font-family-main;
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $main-content-color ;
}

a {
    color: $main-content-color; 
    &:hover {
        color: $main-color;
        text-decoration: none;
    }
}

svg {
    fill: $main-color;
}

ul {
    li {
        list-style: none;
    }
    padding: 0;
    margin: 0;
}