$font-family-main: 'Quicksand';
$font-size-header: 1.4rem;
$font-size-content: 1.6rem;
$font-size-title-small: 2rem;
$font-size-title: 2.4rem;
$font-size-title-large: 4rem;
$main-color: #FE6A84;
$main-hover-color: #F35D78;
$main-content-color: #5A5A5A;
$color-grey: #858484;
$color-white: #fff;